/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.form-group label {
  color: grey;
}

.form-group input {
  font-weight: 500;
}

  .form-group input::placeholder {
    color: #c0bdbd;
    font-weight: 300;
  }

thead th {
  font-weight: 400;
}

table tr:hover {
  background-color: #fffbf2;
  cursor: pointer;
}

//for invalid form controlls
input.invalid {
  border-color: red;
}
