/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.form-group label {
  font-weight: 600;
  color: #000;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.form-group input {
  font-weight: 500;
}

  .form-group input::placeholder {
    color: #c0bdbd;
    font-weight: 300;
  }

thead th {
  font-weight: 600;
  color:#000;
  font-size:20px;
}

.inside {
  float: left;
  text-align: left;
}

  .inside label {
      padding-top:10px;
  }

.details .form-group {
  display: flex;
}


table tr:hover {
  background-color: #fffbf2;
  cursor: pointer;
}


input.invalid {
  border-color: red;
}



.form-group label {
  font-weight: 600 !important;
  color: #000 !important;
}
